@{
    ViewData["Title"] = "Mastering C#";
}

@model HomeViewModel

<div class="page-header center-block">
    <h1>Develothink</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            @{
                Html.RenderPartial(Model.LatestBlogPostRoute);
            }
        </div>
        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <ul class="nav nav-pills nav-stacked">
                @foreach (var post in Model.LatestPosts)
                {
                    <li><a href="/Blog/@post.Route">@post.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>