body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a.navbar-brand {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

div.page-header {
    background-image: url("/images/hero.jpg");
}
div.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
