@{
    ViewData["title"] = "Microsoft.NET is Fighting \"The Man\"";
}
<article>
    <header class="entry-header">
        <h1 class="entry-title">Microsoft .NET is Fighting "The Man"</h1>
        <div class="entry-meta">
            <span class="posted-on">Posted on <a href="http://www.develothink.com/microsoft-dotnet-fighting-the-man/" rel="bookmark"><time class="entry-date published" datetime="2015-01-30T17:21:04+00:00">January 30, 2015</time><time class="updated" datetime="2015-05-20T20:14:12+00:00">May 20, 2015</time></a></span><span class="byline"> by <span class="author vcard"><a class="url fn n" href="http://www.develothink.com/author/pstricker/">Phil Stricker</a></span></span>
        </div>
    </header>
    @*<a class="post-thumbnail" href="http://www.develothink.com/microsoft-dotnet-fighting-the-man/">
        <img width="515" height="320" src="http://www.develothink.com/wp-content/uploads/2015/02/fight-the-man.gif" class="attachment-edin-featured-image size-edin-featured-image wp-post-image" alt="&quot;I&#039;d rather be fighting the man&quot;" />
    </a>*@
    <div class="entry-content">
        <p>
            I know it sounds crazy. How is Microsoft .NET fighting "The Man"? Isn't Microsoft "The Man"? After all, Windows PCs dominate
            <a title="Operating System Market Share" href="http://www.netmarketshare.com/operating-system-market-share.aspx" target="_blank">market share</a> almost 4:1.
            Licensing costs for their software and operating systems seem criminal at at times. The Microsoft .NET framework is "old and crusty" and no self
            respecting developer, especially those under the age of 40, dare acknowledge it has any redeeming value. (Side note: don't trust anyone over 30.)
        </p>
        <p>Pretty simple right? WRONG.</p>
        <h3>.NET == .ORG // returns true</h3>
        <p>
            In case you missed it, back in November, Microsoft made a big announcement: The Microsoft .NET framework was going open source - It's
            <a title=".NET Foundation" href="https://github.com/dotnet" target="_blank">core was on GitHub</a>. That's a pretty big deal. This means now that not
            only can anyone be a part of contributing to the framework, you could even fork an individual piece of the core and adapt it to suit an an individual
            application's needs. There are evens plans to make the core, as well as ASP.NET, run on Mac and Linux.<br />
            This seems to have been a <a title=".NET Core Open Source Update" href="http://blogs.msdn.com/b/dotnet/archive/2015/01/28/net-core-open-source-update.aspx" target="_blank">pretty big success</a>.
            From what I have gleaned from social media, both the Microsoft and open source communities are excited and have welcomed this transition with open arms.
            As someone who has not been involved with the open source community but has worked mainly in the Microsoft technology stack, this has opened up a whole new
            world for me.
        </p>
        <h3>Free IDE</h3>
        <p>
            In addition to the open source announcement, Microsoft also announced a new professional grade IDE,
            <a title="Free IDE - MS Visual Studio Community Edition" href="http://www.visualstudio.com/en-us/news/vs2013-community-vs.aspx" target="_blank">
                Visual Studio Community Edition
            </a>. Unlike previous free versions of Visual Studio, namely the Express family, Visual Studio Community
            Edition is as full featured as Visual Studio
            Professional Edition and doesn't carry the $300 price tag. The barrier of entry to really dig into Microsoft .NET development is gone.
        </p>
        <p>
            One of reasons I have always stuck around the Microsoft stack for software development is in part because of how good of an IDE Visual Studio is. Unlike most
            IDEs it can be used for a wide variety of languages and technologies that users can create solutions from. It also does a great job providing a consistent
            experience throughout this diverse mix. The impact of providing this for free shouldn't be understated.
        </p>
        <h3>The Microsoft .NET Disruption</h3>
        <p>
            So what does this all mean? To me, it's disruption of bias. That is what fighting the man is all about. It means informed software developers can no longer
            discount .NET solutions as viable options because of platform (<a title="Cross platform .NET development" href="http://www.omnisharp.net" target="_blank">http://www.omnisharp.net</a>) or cost.
            It puts the focus back on writing good software. Even more so, having .NET maintained by both an enterprise and a powerful consuming community has the potential
            for a lot of great things to come.
        </p>
        <p>
            Power to the people.
        </p>
    </div>
</article>
